<!DOCTYPE html>
<html lang="<%- config.language %>">
<%- partial('_partials/head') %>

<body>
  <div id="main">
    <%- partial('_partials/header') %>
    <%- body %>
    <%- partial('_partials/footer') %>
  </div>
</body>

</html>