<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
    <%- partial('_partials/head/head', {}, {cache: true}) %> 
    <%- partial('_partials/head/title') %>
</head>
<body>
    <%- body %> 
    <%- partial('_partials/footer') %> 
</body>
</html>