<article id="post">
  <header>
    <div class="post-title"><%- page.title %></div>
    <!-- <h1>Tag [ <%- page.tags %> ]</h1>
    <h1>Category [ <%- page.categories %> ]</h1>
    <h1>Date [ <%- time(page.date, 'yyyy/MM/DD HH:mm:SS') %> ]</h1> -->
    <hr>
  </header>
  <div id="content">
    <%- page.content %>
  </div>
  <footer>
    <!-- Todo article footer -->
    <h1>Tag [ <%- page.tags %> ]</h1>
    <h1>Category [ <%- page.categories %> ]</h1>
  </footer>
</article>