<article id="post">
  <header>
    <div class="post-title"><%- page.title %></div>
    <hr>
  </header>
  <div id="content">
    <%- toc(page.content, {list_number: false}) %>
    <%- page.content %>
  </div>
  <footer>
    <!-- Todo article footer -->
    <div>Tags: <%- list_tags(page.tags, {class: 'tag', show_count: false, style: false, separator: ' | '}) %></div>
    <div>Categories: <%- list_categories(page.categories, {class: 'carhive', show_count: false, style: false, separator: ' | '}) %></div>
  </footer>
</article>